flows.json
[{"id":"8de14597.59d988","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70cadf4.624822","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a34f1db4.d744a","type":"ui_group","z":"","name":"search result","tab":"21901ed1.f80b72","order":1,"disp":true,"width":"6","collapse":false},{"id":"21901ed1.f80b72","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1024cd81.3ad392","type":"ui_form","z":"8de14597.59d988","name":"","label":"","group":"a34f1db4.d744a","order":0,"width":"6","height":"10","options":[{"label":"Enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":140,"wires":[["a610ea1f.454bc8"]]},{"id":"a610ea1f.454bc8","type":"function","z":"8de14597.59d988","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["56d99546.14816c"]]},{"id":"56d99546.14816c","type":"watson-discovery-v1","z":"8de14597.59d988","name":"newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/df3ffc58-a018-4440-bc0c-4dcbb30957b2","x":460,"y":140,"wires":[["37d764ae.d9fcec","1e7d3525.210e8b","b565b75f.06a338","cbc32e4e.ba3c1","1a6b1b76.5c1735","ea9b09c8.f8eee8"]]},{"id":"37d764ae.d9fcec","type":"function","z":"8de14597.59d988","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["fd5cacca.a34f3","f6311a88.14a538"]]},{"id":"1e7d3525.210e8b","type":"function","z":"8de14597.59d988","name":"author","func":"msg.payload=msg.search_results.result[0].author\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["da69d5fd.79bbc8"]]},{"id":"b565b75f.06a338","type":"function","z":"8de14597.59d988","name":"main page url","func":"msg.payload=msg.search_results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["74bb781f.f0eab8"]]},{"id":"cbc32e4e.ba3c1","type":"function","z":"8de14597.59d988","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["9b4b8f24.c8799"]]},{"id":"1a6b1b76.5c1735","type":"function","z":"8de14597.59d988","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_title.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["422f4718.332d88"]]},{"id":"ea9b09c8.f8eee8","type":"function","z":"8de14597.59d988","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_title.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["4f6a2479.e5e6cc"]]},{"id":"fd5cacca.a34f3","type":"ui_text","z":"8de14597.59d988","group":"a34f1db4.d744a","order":2,"width":"6","height":"6","name":"","label":"search result","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":40,"wires":[]},{"id":"da69d5fd.79bbc8","type":"ui_text","z":"8de14597.59d988","group":"a34f1db4.d744a","order":3,"width":"6","height":"1","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":80,"wires":[]},{"id":"74bb781f.f0eab8","type":"ui_text","z":"8de14597.59d988","group":"a34f1db4.d744a","order":4,"width":"6","height":"1","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":120,"wires":[]},{"id":"9b4b8f24.c8799","type":"ui_text","z":"8de14597.59d988","group":"a34f1db4.d744a","order":5,"width":"6","height":"3","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":180,"wires":[]},{"id":"4f6a2479.e5e6cc","type":"ui_text","z":"8de14597.59d988","group":"a34f1db4.d744a","order":6,"width":"6","height":"1","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"422f4718.332d88","type":"ui_gauge","z":"8de14597.59d988","name":"","group":"a34f1db4.d744a","order":7,"width":"0","height":"0","gtype":"gage","title":"sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#0080ff"],"seg1":"","seg2":"","x":780,"y":220,"wires":[]},{"id":"d2092ce9.ed713","type":"function","z":"8de14597.59d988","name":"sentiment","func":"msg.payload=msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":380,"wires":[["bf6c3500.c54618"]]},{"id":"bf6c3500.c54618","type":"ui_chart","z":"8de14597.59d988","name":"","group":"a34f1db4.d744a","order":7,"width":"2","height":"5","label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":380,"wires":[[]]},{"id":"5c623e7e.d7785","type":"ui_chart","z":"8de14597.59d988","name":"","group":"a34f1db4.d744a","order":8,"width":"2","height":"5","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":440,"wires":[[]]},{"id":"83d5b8b7.a2c898","type":"function","z":"8de14597.59d988","name":"positive","func":"msg.payload=msg.sentiment.positive.length\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["5c623e7e.d7785"]]},{"id":"f6311a88.14a538","type":"sentiment","z":"8de14597.59d988","name":"","property":"payload","x":320,"y":420,"wires":[["d2092ce9.ed713","83d5b8b7.a2c898","54b0831a.34374c"]]},{"id":"54b0831a.34374c","type":"function","z":"8de14597.59d988","name":"negative","func":"msg.payload=msg.sentiment.negative.length\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":500,"wires":[["d0184c78.f99ae"]]},{"id":"d0184c78.f99ae","type":"ui_chart","z":"8de14597.59d988","name":"","group":"a34f1db4.d744a","order":9,"width":"2","height":"5","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":500,"wires":[[]]}]